# 02 – Data Understanding
## AdventureWorks | Capital Operativo

**Propósito**
Identificar y comprender las fuentes de datos relevantes para analizar
la alineación entre inventario (uso de capital operativo) y ventas (retorno observable).

Esta etapa se limita a:
- Inventariar tablas
- Entender granularidad y claves
- Identificar campos económicos

No se realizan cálculos ni análisis.

In [7]:
import pandas as pd
import pyodbc

conn = pyodbc.connect(
    "DRIVER={ODBC Driver 18 for SQL Server};"
    "SERVER=127.0.0.1,1433;"
    "DATABASE=AdventureWorks2019;"
    "UID=sa;"
    "PWD=S1nt3lo_SQL_2026!;"
    "Encrypt=no;"
    "TrustServerCertificate=yes;"
)

In [8]:
pd.read_sql("SELECT @@VERSION", conn)

/var/folders/ry/4019pgsd4073m3w_k8vm8bqr0000gn/T/ipykernel_53225/101866107.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT @@VERSION", conn)

0  Microsoft SQL Server 2022 (RTM-CU22) (KB506845...

In [9]:
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 200)
pd.set_option("display.max_rows", 20)

In [10]:
product = pd.read_sql("SELECT * FROM Production.Product", conn)
product.head(10)
product.info()
product.sample(10, random_state=42)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductID              504 non-null    int64
 1   Name                   504 non-null    object
 2   ProductNumber          504 non-null    object
 3   MakeFlag               504 non-null    bool
 4   FinishedGoodsFlag      504 non-null    bool
 5   Color                  256 non-null    object
 6   SafetyStockLevel       504 non-null    int64
 7   ReorderPoint           504 non-null    int64
 8   StandardCost           504 non-null    float64
 9   ListPrice              504 non-null    float64
 10  Size                   211 non-null    object
 11  SizeUnitMeasureCode    176 non-null    object
 12  WeightUnitMeasureCode  205 non-null    object
 13  Weight                 205 non-null    float64
 14  DaysToManufacture      504 non-null    int64
 15  ProductLine            278 non-null    object
 16  Class                  247 non-null    object
 17  Style                  211 non-null    object
 18  ProductSubcategoryID   295 non-null    float64
 19  ProductModelID         295 non-null    float64
 20  SellStartDate          504 non-null    datetime64[ns]
 21  SellEndDate            98 non-null     datetime64[ns]
 22  DiscontinuedDate       0 non-null      object
 23  rowguid                504 non-null    object
 24  ModifiedDate           504 non-null    datetime64[ns]
dtypes: bool(2), datetime64[ns](3), float64(5), int64(4), object(11)
memory usage: 91.7+ KB

/var/folders/ry/4019pgsd4073m3w_k8vm8bqr0000gn/T/ipykernel_53225/3333594278.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product = pd.read_sql("SELECT * FROM Production.Product", conn)

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
173,495,Paint - Blue,PA-632U,False,False,None,60,45,0.0000,0.00,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,None,25A73761-AE90-49D3-8D1D-DD7858DB4704,2014-02-08 10:01:36.827
274,770,"Road-650 Black, 52",BK-R50B-52,True,True,Black,100,75,486.7066,782.99,52,CM,LB,19.42,4,R,L,U,2.0,30.0,2011-05-31,2013-05-29,None,136E2865-E0DA-4624-963A-31349279AB1A,2014-02-08 10:01:36.827
489,985,"Mountain-500 Silver, 42",BK-M18S-42,True,True,Silver,100,75,308.2179,564.99,42,CM,LB,27.77,4,M,L,U,1.0,23.0,2013-05-30,NaT,None,B8D1B5D9-8A39-4097-A04A-56E95559B534,2014-02-08 10:01:36.827
72,394,Hex Nut 15,HN-7162,False,False,None,1000,750,0.0000,0.00,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,None,35E28755-E8F0-47BE-A8BE-A20836DBE28D,2014-02-08 10:01:36.827
305,801,"Road-550-W Yellow, 48",BK-R64Y-48,True,True,Yellow,100,75,713.0798,1120.49,48,CM,LB,18.68,4,R,M,W,2.0,29.0,2012-05-30,NaT,None,C90CC877-804C-4CE7-AFC3-4C8791A13DFB,2014-02-08 10:01:36.827
76,398,Handlebar Tube,HT-2981,True,False,None,800,600,0.0000,0.00,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,None,9F88C58E-5CFA-46C9-8994-DA4F3FFE92ED,2014-02-08 10:01:36.827
475,971,"Touring-2000 Blue, 50",BK-T44U-50,True,True,Blue,100,75,755.1508,1214.85,50,CM,LB,27.42,4,T,M,U,3.0,35.0,2013-05-30,NaT,None,84ABDA8F-0007-4BCA-9A61-B2DEA58866C3,2014-02-08 10:01:36.827
140,462,Lower Head Race,LR-8520,False,False,None,1000,750,0.0000,0.00,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,None,DBB962BF-0603-4095-959B-5BA9C74FBD32,2014-02-08 10:01:36.827
469,965,"Touring-3000 Yellow, 62",BK-T18Y-62,True,True,Yellow,100,75,461.4448,742.35,62,CM,LB,30.00,4,T,L,U,3.0,36.0,2013-05-30,NaT,None,D28B3872-5173-40A4-B12F-655524386CC7,2014-02-08 10:01:36.827
498,994,LL Bottom Bracket,BB-7421,True,True,None,500,375,23.9716,53.99,None,None,G,223.00,1,None,L,None,5.0,95.0,2013-05-30,NaT,None,FA3C65CD-0A22-47E3-BDF6-53F1DC138C43,2014-02-08 10:01:36.827

### Production.Product — campos potencialmente relevantes (preliminar)

**Identificador**
- ProductID

**Clasificación / Segmentación**
- ProductSubcategoryID
- ProductModelID
- ProductLine
- Class
- Style

**Costos (proxy de capital)**
- StandardCost
- ListPrice

**Operación / Estado**
- MakeFlag
- FinishedGoodsFlag
- SafetyStockLevel
- ReorderPoint
- DaysToManufacture

**Temporal**
- SellStartDate
- SellEndDate

In [11]:
product_inventory = pd.read_sql("SELECT * FROM Production.ProductInventory", conn)
product_inventory.head(10)
product_inventory.info()
product_inventory.sample(10, random_state=42)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1069 entries, 0 to 1068
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ProductID     1069 non-null   int64
 1   LocationID    1069 non-null   int64
 2   Shelf         1069 non-null   object
 3   Bin           1069 non-null   int64
 4   Quantity      1069 non-null   int64
 5   rowguid       1069 non-null   object
 6   ModifiedDate  1069 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 58.6+ KB

/var/folders/ry/4019pgsd4073m3w_k8vm8bqr0000gn/T/ipykernel_53225/1194855119.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_inventory = pd.read_sql("SELECT * FROM Production.ProductInventory", conn)

     ProductID  LocationID Shelf  Bin  Quantity                               rowguid ModifiedDate
708        787          60   N/A    0       108  DA83CA89-BABC-4D0F-829E-9EBC42ED052F   2012-04-30
215        393          50     E   35       497  AEF7AC8C-D595-4DFB-B41E-9536FED7A993   2014-08-10
882        914          50     G   25       171  7EE779F3-0091-4577-9775-D355EE8E99D4   2014-08-09
88         349          50     G   18       256  604C83FD-5918-4951-B8A2-2D047C0768AB   2014-08-12
842        870           7   N/A    0       252  1A650732-24B2-4ABC-BA37-C866A764045B   2013-04-30
139        368           6     R   10       360  A693AA01-3638-452C-ABF8-F50552BE92D9   2014-07-28
86         348          60     S    7       337  3E598D72-9120-42EA-9FA7-A0E2929E2538   2014-08-12
486        484           2     D    0       427  0A8CD779-6C31-448A-8F48-D86430AC93F9   2014-08-05
635        751           7   N/A    0        32  CB2DE498-349A-4D8D-AE4C-0F03041575C6   2011-05-01
604        535           6     L   14       427  2CC3B5FE-E097-419B-B8E6-E3DBEB0E571F   2014-08-10

### Production.ProductInventory — campos potencialmente relevantes

**Identificador**
- ProductID

**Ubicación**
- LocationID

**Inventario (stock)**
- Quantity

**Temporal**
- ModifiedDate

In [15]:
product_subcategory = pd.read_sql("SELECT * FROM Production.ProductSubcategory", conn)
product_subcategory.head(10)
product_subcategory.info()
product_subcategory.sample(10, random_state=42)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductSubcategoryID  37 non-null     int64
 1   ProductCategoryID     37 non-null     int64
 2   Name                  37 non-null     object
 3   rowguid               37 non-null     object
 4   ModifiedDate          37 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 1.6+ KB

/var/folders/ry/4019pgsd4073m3w_k8vm8bqr0000gn/T/ipykernel_53225/1178090182.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_subcategory = pd.read_sql("SELECT * FROM Production.ProductSubcategory", conn)

    ProductSubcategoryID  ProductCategoryID             Name                               rowguid ModifiedDate
17                    18                  3       Bib-Shorts  67B58D2B-5798-4A90-8C6C-5DDACF057171   2008-04-30
13                    14                  2      Road Frames  5515F857-075B-4F9A-87B7-43B4997077B3   2008-04-30
4                      5                  2  Bottom Brackets  A9E54089-8A1E-4CF5-8646-E3801F685934   2008-04-30
29                    30                  4          Fenders  1697F8A2-0A08-4883-B7DD-D19117B4E9A7   2008-04-30
35                    36                  4            Pumps  FE4D46F2-C87C-48C5-A4A1-3F55712D80B1   2008-04-30
25                    26                  4       Bike Racks  4624B5CE-66D6-496B-9201-C053DF3556CC   2008-04-30
6                      7                  2           Chains  E93A7231-F16C-4B0F-8C41-C73FDEC62DA0   2008-04-30
26                    27                  4      Bike Stands  43B445C8-B820-424E-A1D5-90D81DA0B46F   2008-04-30
24                    25                  3            Vests  9AD7FE93-5BA0-4736-B578-FF80A2071297   2008-04-30
16                    17                  2           Wheels  43521287-4B0B-438E-B80E-D82D9AD7C9F0   2008-04-30

### Production.ProductSubcategory — campos potencialmente relevantes

- ProductSubcategoryID
- ProductCategoryID
- Name

In [26]:
product_category = pd.read_sql("SELECT * FROM Production.ProductCategory", conn)
product_category.head(10)
product_category.info()
product_category

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ProductCategoryID  4 non-null      int64
 1   Name               4 non-null      object
 2   rowguid            4 non-null      object
 3   ModifiedDate       4 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 256.0+ bytes

/var/folders/ry/4019pgsd4073m3w_k8vm8bqr0000gn/T/ipykernel_53225/1606074157.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product_category = pd.read_sql("SELECT * FROM Production.ProductCategory", conn)

   ProductCategoryID         Name                               rowguid ModifiedDate
0                  1        Bikes  CFBDA25C-DF71-47A7-B81B-64EE161AA37C   2008-04-30
1                  2   Components  C657828D-D808-4ABA-91A3-AF2CE02300E9   2008-04-30
2                  3     Clothing  10A7C342-CA82-48D4-8A38-46A2EB089B74   2008-04-30
3                  4  Accessories  2BE3BE36-D9A2-4EEE-B593-ED895D97C2A6   2008-04-30

### Production.ProductCategory — campos potencialmente relevantes

- ProductCategoryID
- Name

In [21]:
sales_order_detail = pd.read_sql("SELECT * FROM Sales.SalesOrderDetail", conn)
sales_order_detail.head(10)
sales_order_detail.info()
sales_order_detail.sample(10, random_state=42)

/var/folders/ry/4019pgsd4073m3w_k8vm8bqr0000gn/T/ipykernel_53225/2280692139.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sales_order_detail = pd.read_sql("SELECT * FROM Sales.SalesOrderDetail", conn)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121317 entries, 0 to 121316
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   SalesOrderID           121317 non-null  int64
 1   SalesOrderDetailID     121317 non-null  int64
 2   CarrierTrackingNumber  60919 non-null   object
 3   OrderQty               121317 non-null  int64
 4   ProductID              121317 non-null  int64
 5   SpecialOfferID         121317 non-null  int64
 6   UnitPrice              121317 non-null  float64
 7   UnitPriceDiscount      121317 non-null  float64
 8   LineTotal              121317 non-null  float64
 9   rowguid                121317 non-null  object
 10  ModifiedDate           121317 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(5), object(2)
memory usage: 10.2+ MB

        SalesOrderID  SalesOrderDetailID CarrierTrackingNumber  OrderQty  ProductID  SpecialOfferID  UnitPrice  UnitPriceDiscount    LineTotal                               rowguid ModifiedDate
40841          51771               40842          F78B-4D68-8E         3        858               1    14.6940               0.00    44.082000  F727D2C0-FEC6-48F1-8CED-F2D90638712F   2013-06-30
35593          51081               35594          EDBF-4FE1-8F         4        870               1     2.9940               0.00    11.976000  589D9EE1-5FA5-4858-9650-C2C39451CD17   2013-05-30
21757          48062               21758          DB45-43CB-82         2        781               1  1242.8518               0.00  2485.703600  78735A04-ACAB-40F5-BFAA-7E688ACA9890   2012-09-30
70745          59183               70746                  None         1        873               2     2.2900               0.00     2.290000  8A9B5156-B0C9-4421-BC76-662D9F9B28A4   2013-10-31
76605          61229               76606          AC88-46DA-A3        11        859               2    14.2042               0.02   153.121276  3C1F786A-282B-4596-BA17-FF2B699597B5   2013-11-30
8682           46053                8683          E530-47A7-9A         1        742               1   722.5949               0.00   722.594900  D45A1EAE-512F-403E-9C5E-024787CAEB91   2012-03-30
63425          57262               63426                  None         1        873               1     2.2900               0.00     2.290000  D8E72DFB-584D-4B97-B9C7-EECE00702FB0   2013-10-01
104415         69528              104416          2644-4747-86         4        883               1    32.3940               0.00   129.576000  9CFD3313-ACB3-4CA9-AE16-D4CD4B543442   2014-03-31
1517           44083                1518          A5F2-4B59-BA         1        770               1   419.4589               0.00   419.458900  9B1CA3EC-540F-493B-BB8F-0BD0F18BAA1A   2011-08-01
120231         74659              120232                  None         1        713               1    49.9900               0.00    49.990000  94F1A5B0-EB4F-49C4-8A36-01003570819A   2014-06-16

### Sales.SalesOrderDetail — campos potencialmente relevantes

**Identificadores**
- SalesOrderID
- ProductID

**Volumen / Retorno**
- OrderQty
- UnitPrice
- UnitPriceDiscount
- LineTotal

**Temporal**
- ModifiedDate

In [22]:
sales_order_header = pd.read_sql("SELECT * FROM Sales.SalesOrderHeader", conn)
sales_order_header.head(10)
sales_order_header.info()
sales_order_header.sample(10, random_state=42)

/var/folders/ry/4019pgsd4073m3w_k8vm8bqr0000gn/T/ipykernel_53225/206927760.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sales_order_header = pd.read_sql("SELECT * FROM Sales.SalesOrderHeader", conn)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31465 entries, 0 to 31464
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SalesOrderID            31465 non-null  int64
 1   RevisionNumber          31465 non-null  int64
 2   OrderDate               31465 non-null  datetime64[ns]
 3   DueDate                 31465 non-null  datetime64[ns]
 4   ShipDate                31465 non-null  datetime64[ns]
 5   Status                  31465 non-null  int64
 6   OnlineOrderFlag         31465 non-null  bool
 7   SalesOrderNumber        31465 non-null  object
 8   PurchaseOrderNumber     3806 non-null   object
 9   AccountNumber           31465 non-null  object
 10  CustomerID              31465 non-null  int64
 11  SalesPersonID           3806 non-null   float64
 12  TerritoryID             31465 non-null  int64
 13  BillToAddressID         31465 non-null  int64
 14  ShipToAddressID         31465 non-null  int64
 15  ShipMethodID            31465 non-null  int64
 16  CreditCardID            30334 non-null  float64
 17  CreditCardApprovalCode  30334 non-null  object
 18  CurrencyRateID          13976 non-null  float64
 19  SubTotal                31465 non-null  float64
 20  TaxAmt                  31465 non-null  float64
 21  Freight                 31465 non-null  float64
 22  TotalDue                31465 non-null  float64
 23  Comment                 0 non-null      object
 24  rowguid                 31465 non-null  object
 25  ModifiedDate            31465 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](4), float64(7), int64(8), object(6)
memory usage: 6.0+ MB

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
27126,70785,8,2014-04-16,2014-04-28,2014-04-23,5,True,SO70785,None,10-4030-017955,17955,NaN,8,14613,14613,1,9527.0,526869Vi49114,NaN,63.9700,5.1176,1.5993,70.6869,None,0230BB09-2188-4445-BF2C-AF184BEE404F,2014-04-23
17402,61061,8,2013-11-28,2013-12-10,2013-12-05,5,True,SO61061,None,10-4030-015612,15612,NaN,10,18096,18096,1,12923.0,1026561Vi66836,10407.0,74.9800,5.9984,1.8745,82.8529,None,2979BDE9-E2F0-40EA-A167-F7A7B3A0D6F1,2013-12-05
2320,45979,8,2012-03-25,2012-04-06,2012-04-01,5,True,SO45979,None,10-4030-015630,15630,NaN,10,25673,25673,1,13632.0,731717Vi70655,3664.0,3578.2700,286.2616,89.4568,3953.9884,None,0A34C728-E604-4865-944B-82F5908FD64A,2012-04-01
25378,69037,8,2014-03-26,2014-04-07,2014-04-02,5,True,SO69037,None,10-4030-026526,26526,NaN,4,22663,22663,1,15513.0,921995Vi80147,NaN,37.9300,3.0344,0.9483,41.9127,None,32C2F519-DA92-4067-97D4-1178C7E565E6,2014-04-02
10883,54542,8,2013-08-17,2013-08-29,2013-08-24,5,True,SO54542,None,10-4030-028682,28682,NaN,4,15857,15857,1,16640.0,1021566Vi86152,NaN,63.9700,5.1176,1.5993,70.6869,None,BBCF4D14-F972-4653-A211-A21FD95B67CF,2013-08-24
18329,61988,8,2013-12-12,2013-12-24,2013-12-19,5,True,SO61988,None,10-4030-021724,21724,NaN,4,14773,14773,1,8950.0,323328Vi46111,NaN,14.9800,1.1984,0.3745,16.5529,None,77AAA74F-D031-4542-A10C-8913A9096350,2013-12-19
30801,74460,8,2014-06-09,2014-06-21,2014-06-16,5,True,SO74460,None,10-4030-012405,12405,NaN,10,24333,24333,1,6151.0,126819Vi31954,NaN,36.5900,2.9272,0.9148,40.4320,None,DE6B747E-8A22-4DC3-9C32-CFA5A13DB5AA,2014-06-16
6538,50197,8,2013-03-30,2013-04-11,2013-04-06,5,False,SO50197,PO17777156799,10-4020-000208,29988,289.0,6,478,478,5,9855.0,45333Vi50783,7731.0,3218.1375,308.9412,96.5441,3623.6228,None,C9AF255A-275C-4741-BE10-EFE0206FCA0F,2013-04-06
21787,65446,8,2014-01-30,2014-02-11,2014-02-06,5,True,SO65446,None,10-4030-026727,26727,NaN,1,26494,26494,1,2971.0,1140671Vi15539,NaN,2433.0400,194.6432,60.8260,2688.5092,None,6EE843E3-915D-4205-955C-686888D88528,2014-02-06
16303,59962,8,2013-11-11,2013-11-23,2013-11-18,5,True,SO59962,None,10-4030-022576,22576,NaN,9,26258,26258,1,5108.0,738923Vi26742,10215.0,539.9900,43.1992,13.4998,596.6890,None,718B3E71-A54B-4110-9215-AA37AAC62F6B,2013-11-18

### Sales.SalesOrderHeader — campos potencialmente relevantes

**Identificador**
- SalesOrderID

**Temporal**
- OrderDate
- ShipDate

**Geografía / Cliente**
- CustomerID
- TerritoryID

**Totales**
- SubTotal
- TotalDue

## Cierre — Data Understanding

Se identificaron las tablas relevantes, sus granularidades y los campos
potencialmente útiles para analizar la alineación entre inventario
(capital operativo) y ventas (retorno observado).

La selección definitiva de campos, definición de claves y construcción
de la tabla analítica central se realizará en `03_data_preparation.ipynb`.